.container {
    width: 100%;
}

.row {
    width: 10rem;
}

.table {
    width: 80vw;
}

.green_light {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;

    background-color: green;
}

.yellow_light {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;

    background-color: yellow;
}
.red_light {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;

    background-color: red;
}